<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sports Now- Watch live sports online</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">

    <meta charset="UTF-8">
    <meta name="description" content="STREAM SPORTS LIVE | LIFE SOCCER STREAMING. 
    PREMIER LEAGUE LIVE STREAMING, TOP LEAGUES, TOP TEAM, LEAGUE FIXTURES | CRICKET FIXTURES AND MATCHES|
    TODAYS FOOTBALL FIXTURES AND RESULTS">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Sports now Team">
</head>
<body>
<script src="/public/runtime-es2015.*.js"></script>
<script src="/public/polyfills-es2015.*.js"></script>
<script src="/public/main-es2015.*.js"></script>
</body>
</html>

